*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-shadow{
    text-shadow: 0px 4px 10px black;
}
.mb-5rem{
margin-bottom: 5rem;
}
body{
    background-image: url(../img/1385482.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
#carbonaraBtn{
    background-image: url(../img/Espaguetis_carbonara.jpg);
}
#lasagnaBtn{
    background-image: url(../img/lasagna.webp);
}
#pizzaBtn{
    background-image: url(../img/pizza.webp);
}
#sushiBtn{
    background-image: url(../img/download.jpg);
}
#aranciniBtn{
    background-image: url(../img/arancini-di-riso-siciliani.jpg)
}
#noodlesBtn{
    background-image: url(../img/Noodles-con-verdure-5162.jpg);
}
button.dash-btn{
    color: white;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 10rem;
    height: 7rem;
}
li{
    width: fit-content;
}
.recipeTitle{
    background-image: radial-gradient(#510F1F, transparent);
    font-weight: 700;
    text-transform: capitalize;
}